<h1>Kittens</h1>

<ul class="kittens">
  <% @kittens.each do |kitten| %>
    <li class="kitten-overview">
      <%= kitten.name %>
      <%= link_to "Show", kitten %>
      <%= link_to "Delete", @kitten, method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "New Kitten", new_kitten_path %>
